
nav{
    height: auto;
}
nav img {
    padding-left: 10px;
}
#navbarSupportedContent ul {
    margin-left: 200px;
}
.slider{
    margin-top: 30px;
}
.catalog{
    margin-top: 30px;
}
a{
    text-align: center;
    text-decoration: none;
    color: black;
}
.nav-link{
    color: white;
}
.nav-link:hover {
    color: gray;
}
.navbar-nav .nav-link.active{
    color: rgb(192, 192, 192);
}
a:hover{
    color: darkgray;
}
.card-img-top{
    width: 50%;
    height: 50%;
}
.card{
    align-items: flex-start;
    width: 400px;
    height: 500px;
    text-align: left;   
}
.card img {
    width: 300px;
    height: 300px;
}
.card-body h5 {
    margin-top: 30px;
} 
h5{
    text-align: center;
}
.footer{
    background-color: rgb(24, 24, 24);
    color: white;
    text-align: center;
    margin-top: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.footer h5{
    margin-top: 100px;
}
.footer span{
    margin-bottom: 5px;
}
#hakkımızda-footer{
    text-align: start;
}
.urunler-footer{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.offcanvas-body img {
    width: 100px;
    height: 100px;
  }
  .offcanvas-body p {
    margin: 1px;
    margin-bottom: 5px;
  }
  .offcanvas-body h5{
    margin-top: 10px;
  }
  .offcanvas-body .adet{
    margin-top: 20px;
  }
  #basket-itemprice{
    color: green;
    position: relative;
    left: 25px;
    bottom: 25px;
  }
  .basket-items{
    margin-bottom: 20px;
  }
  .close-button{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    position: relative;
    top: 20px;
    left: -5px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 40%);
    background: white;
  }
  .close-button p {
    font-size: 13px;
    position: relative;
    bottom: 5px;
    right: 3px;
    font-weight: 500;
  }
